---
title: Home
layout: default
---
<section>
	<ul>
		<li><a href="/about_me">About Me</a></li>
		<li><a href="assets/pdf/resume_david_folarin.pdf">Résumé</a></li>
		<li><a href="https://github.com/davefol">Github</a></li>
		<li><a href="/diary">Diary</a></li>
	</ul>
</section>

<section>
	<h2><a href="/blog">Blog</a></h2>
		<ul>
			{% for post in site.posts limit:8 %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
</section>

{% assign categories = site.projects | group_by: "category" %}
{% for category in categories %}
<section>
	<h2>{{ category.name }}</h2>
	<ul>
		{% for project in category.items %}
		<li><a href="{{ project.url }}">{{ project.name }}</a></li>
		{% endfor %}
	</ul>
</section>
{% endfor %}

<section>
	<h2>Music Press</h2>
	<ul>
		<li><a href="https://comeherefloyd.com/dixie-parish-heart-on-the-ropes/">Dixie Parish - Heart on the Ropes (Come Here Floyd - 2020)</a></li>
		<li><a href="https://survivingthegoldenage.com/dixie-parish-everdeen/">Dixie Parish - Everdeen (Surviving the Golden Age - 2020)</a></li>
		<li><a href="https://yorkcalling.co.uk/2018/01/09/discoveries-9-jan-2018/">Flower Cult - Violet (York Calling - 2018)</a></li>
		<li><a href="https://acidstag.com/2017/06/27/newcomers-ok-music-indiia-essex-valdemar/">OK Music - Might Be (Acid Stag - 2017)</a></li>
		<li><a href="https://blog.casablancasunset.com/inbox-june-2017/">OK Music - Might Be (Casablanca Sunset - 2017)</a></li>
		<li><a href="https://open.spotify.com/track/0m4pEvkGTf8wejo26iMWzd?si=xfMXqfBLQxeVfSuiWyf6ZQ">OK Music - What I've Built (Spotify's Discover Weekly and Fresh Finds Circa - 2015)</a></li>
		<li><a href="https://alittlebitofsol.blogspot.com/2015/01/dave-fol.html">Dave Fol - Air You Out (A Little Bit of Sol - 2015)</a></li>
	</ul>
</section>
